.action {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    color: white;
    font-size: 0.7rem;
    border-radius: 5px;
}

.action.Ajouter {
    background-color: var(--success);
}
.action.supprimer {
    background-color: var(--error);
}
.action.modifier {
    background-color: var(--warning);
}
