.mini-loading {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: transparent !important;
    animation: rotate 500ms linear infinite;
}

.mini-loading.red {
    border-color: var(--red);
}
.mini-loading.black {
    border-color: black;
}
.mini-loading.white {
    border-color: white;
}

@keyframe rotate {
    100% {
        rotate: 360deg;
    }
}

.pendinglayer{
    position:absolute;
    top:0;
    left:0;
    width:100%;height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #ffffff92;
}
