.spec-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.spec-card .image {
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spec-card .image img {
    width: 50px !important;
    object-fit: cover;
    aspect-ratio: 1;
}
.spec-card .key-value-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.spec-card .key-value-info .spec-key {
    color: var(--red);
    text-transform: uppercase;
}

.spec-card .key-value-info .spec-value {
    font-weight: bold;
}
